In [2]:
import pandas as pd
import numpy as np

In [4]:
traffic_flow_hourly = pd.read_csv(r'N:\GIS Bicycle Project\traffic_flow\comptages-routiers-permanents-2019.csv',sep = ';')
traffic_flow_hourly.head()

,iu_ac,libelle,iu_nd_amont,libelle_nd_amont,iu_nd_aval,libelle_nd_aval,t_1h,q,k,etat_trafic,dessin
0,4618,Cours Albert 1er_VGP,163,Souterrain_Cours_la_Reine,2467,Cours_Albert_Ier-VGP,2019-06-12T02:00:00+01:00,695.0,2.06056,1,"""<PLINE><PT X=""""598038"""" Y=""""129374""""/><PT X=""..."
1,1307,Bd_Richard_Lenoir,717,Republique-Richard_Lenoir-Timbau,716,Republique-Jules_Ferry,2019-01-30T03:00:00+00:00,140.0,1.38111,1,"""<PLINE EPAISSEUR=""""6""""><PT X=""""602421"""" Y=""""1..."
2,4979,Av_Claude_Vellefaux,2624,Pl_Colonel_Fabien,2639,Vellefaux-Sambre_et_Meuse,2019-04-03T13:00:00+01:00,404.0,4.99444,1,"""<PLINE><PT X=""""602473"""" Y=""""130809""""/><PT X=""..."
3,6432,VGP,3328,VGP-Quai_St_Exupery,3326,VGP-Rampe_Van_Loo,2019-06-24T13:00:00+01:00,1249.0,14.03110,1,"""<PLINE><PT X=""""595046"""" Y=""""126756""""/><PT X=""..."
4,4618,Cours Albert 1er_VGP,163,Souterrain_Cours_la_Reine,2467,Cours_Albert_Ier-VGP,2019-06-12T10:00:00+01:00,1141.0,3.64889,1,"""<PLINE><PT X=""""598038"""" Y=""""129374""""/><PT X=""..."

In [6]:
traffic_flow_hourly.columns

Index(['iu_ac', 'libelle', 'iu_nd_amont', 'libelle_nd_amont', 'iu_nd_aval',
       'libelle_nd_aval', 't_1h', 'q', 'k', 'etat_trafic', 'dessin'],
      dtype='object')

In [7]:
df = traffic_flow_hourly.groupby('iu_ac').mean()
df.head()

       iu_nd_amont  iu_nd_aval            q          k  etat_trafic
iu_ac
1              1.0         0.0  1693.262111  10.828001     1.109239
2              0.0         2.0  1679.351867  19.582659     1.594088
3              2.0         3.0  1683.949388        NaN     0.000000
4              3.0         4.0  1696.962500  25.725154     0.944225
5              4.0         5.0  1549.882609  16.926475     0.896699

In [9]:
df.describe()

       iu_nd_amont   iu_nd_aval            q            k  etat_trafic
count  3309.000000  3309.000000  2116.000000  2143.000000  3309.000000
mean   1815.639640  1813.869265   723.116948     7.013905     0.670997
std    1202.411095  1199.014146   954.667868     5.791643     0.566470
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%     578.000000   579.000000   272.697504     3.083405     0.000000
50%    2315.000000  2315.000000   429.611687     5.240732     0.969416
75%    2861.000000  2859.000000   696.014564     9.221222     1.036977
max    3737.000000  3737.000000  5853.929940    66.052200     2.686695

In [13]:
df[['q', 'k']].to_csv(r'N:\GIS Bicycle Project\traffic_flow\traffic_flow_by_road.csv', index = True, header=True)